@charset "UTF-8";

$themeColor : #ABC327;  //green
// $themeColor : #ff6905; //orange
$fontBlack : #333;
$red : #e80505;
$gray : #999;


@mixin text-overflow($n:1) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
}
