@import "./_mixin.scss";
.lable-control{
    display: flex;
    font-size: 28rpx;
    &:last-child{
        border-bottom: 0;
    }
    text{
        flex: 1;
        line-height: 80rpx;
    }
    .label-picker{
        flex: 4;
        position: relative;
        image{
            position: absolute;
            right: 10rpx;
            top: 24rpx;
            width: 35rpx;
            height: 35rpx;
        }
    }
    input{
        flex: 4;
        width: 100%;
        height: 80rpx;
        padding: 20rpx 0;
        font-size: 28rpx;
        color: $fontBlack;
        box-sizing: border-box;
    }
}
.label-require{
    font-size: 14rpx;
    color: $red;
}
.picker{
    line-height: 80rpx;
    color: $fontBlack;
}
.label-small{
    padding-left: 10rpx;
    font-size: 24rpx;
    color: $gray;
}
.label-flex{
    display: flex;
    justify-content: space-between;
    font-size: 28rpx;
    text{
        flex: 3;
        line-height: 80rpx;
    }
    view{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        image{
            width: 50rpx;
            height: 50rpx;
        }
    }
}
.label-add{
    display: flex;
    input{
        flex: 5;
        width: 100%;
        height: 80rpx;
        padding: 10rpx 0;
        font-size: 28rpx;
        color: $fontBlack;
        box-sizing: border-box;
    }
    view{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        image{
            width: 45rpx;
            height: 45rpx;
            margin-right: 5rpx;
        }
    }
}
.label-textarea{
    flex: 4;
    margin-top: 25rpx;
    border: 1rpx solid #ebebeb;
    padding: 5rpx;
    border-radius: 4rpx;
}
